<div class="col-lg-12">

    <div class=" col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="text-center">Enter Data Here</h3> </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" ng-model="empModel.name" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label>Date:</label>
                        <datepicker date-format="dd/MM/yyyy">
                            <input date-set="{{empModel.empDate}}" class="form-control" ng-model="empModel.empDate"
                                   type="text"/>
                        </datepicker>
                    </div>
                    <div class="form-group" style="padding-top: 30px;">
                        <label>Age:</label>
                        <input type="text" ng-model="empModel.age" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Gender:</label>
                        <label class="checkbox-inline "><input style="margin-right: 5px" type="radio"
                                                               ng-model="empModel.gender" value="Male">Male</label>
                        <label class="checkbox-inline"><input style="margin-right: 5px" type="radio"
                                                              ng-model="empModel.gender"
                                                              value="Female">Female</label>
                    </div>

                    <button type="submit" ng-click="submitEmp(empModel)" class="btn btn-default">Submit</button>
                </form>
            </div>

        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="text-center">Data List</h3></div>
            <div class="panel-body">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="Emp in EmpList">
                        <td>{{Emp.name}}</td>
                        <td>{{Emp.empDate}}</td>
                        <td>{{Emp.age}}</td>
                        <td>{{Emp.gender}}</td>
                        <td>
                            <i class="glyphicon glyphicon-pencil"
                                  ng-click="bindSelectedData(Emp)"></i>

                            <i class="glyphicon glyphicon-trash"
                               ng-click="delete(Emp)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
